html, body, div.root { width:100vw; height:100vh; margin:0; padding:0 }

* {
  box-sizing: border-box;
}

#entry-window {
font-family: 'Press Start 2P', cursive;
/* font-family: 'VT323', monospace; */
  text-align: center;
  background-color: black;
  margin:1px;
  height: 100%

}

#entry-window p {
  font-size: 10px;
}

p {
font-size: medium;
}

button {
  margin: 5px;
}

.App {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  width: 100vw;
  height: 100vh;
  background-color: #008080;
}

#main-window {
  width: 90%;
  height: 335px;
  position: absolute;
  top: 10px;
  margin-left: 5%;
  margin-right: 5%;

}
/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

input {
  font-size: 16px;
  line-height: 32px;
  vertical-align: bottom;
  margin: 1px;

}

.signup-window button {
  height: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
  vertical-align: bottom;

}

#player-container {
  width: 90%;
  height: 20%;
  position: absolute;
  bottom: 15px;
  left: 0;
  margin-left: 5%;
  margin-right: 5%;
}

#player-container button:focus {
  --button-highlight: #ffffff;
  --button-face: #dfdfdf;
  --button-shadow: #808080;
  outline: 1px dotted #000000;
  outline-offset: -4px;

}


#backpack-container {
  width: 90%;
  height: 20%;
  position: absolute;
  bottom: 170px;
  left: 0;
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
}

#backpack-tree {
height: 80px;
  overflow-y: auto;
}


.hide {
  display: none
}

#room-window {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Press Start 2P', cursive;
/* font-family: 'VT323', monospace; */
  text-align: center;
  background-color: black;
  margin:1px;

}

#room-window p {
  font-size: 12px;
}

#room-window button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

#room-window button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}


#routes-container {
  height: 305px;

  width: 100%;
  margin: 0px;
  padding: 0px
}

#new-item-alert {
  position: absolute;
  top: 50px;
  left: 50px;
  right: 50px;
  background-color: white;
  color: black;
}
