html,
body,
div.root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#entry-window {
  font-family: "Press Start 2P", cursive;
  text-align: center;
  background-color: 212529;
  margin: 1px;
  height: 100%;
  min-height: 320px;
}

#entry-window p {
  font-size: 10px;
}

p {
  font-size: medium;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: #008080;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#app-window {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

#hello {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

#hello button {
  margin: 5px;
  margin-bottom: 15px;
}

.signup-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.signup-window form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sign-up {
  height: 28px;
  line-height: 28px;
  font-size: 17px;
  margin: 1px;
  padding: 10px;
}

.signup-window button {
  height: 20px;
  margin-bottom: 20px;
  padding-bottom: 0;
  vertical-align: bottom;
}

#control-window {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#control-window p {
  margin: 0px;
}

#control-window button {
  height: 20px;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 0;
  vertical-align: bottom;
}

#player-container {
  width: 90%;
  height: 20%;
  margin-left: 5%;
  margin-right: 5%;
}

#player-container button:focus {
  --button-highlight: #ffffff;
  --button-face: #dfdfdf;
  --button-shadow: #808080;
  outline: 1px dotted #000000;
  outline-offset: -4px;
}

.hide {
  display: none;
}

#room-window {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  background-color: 212529;
  margin: 1px;
  min-height: 320px;
}

#room-window p {
  font-size: 12px;
}

#routes-container {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#new-item-alert {
  position: absolute;
  top: 50px;
  left: 50px;
  right: 50px;
  background-color: white;
  color: black;
}

#restricted {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: black;
  color: gray;
}

#backpack-container {
  width: 90%;
  height: 20%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
}

#backpack-window {
  height: 100%;
}

#backpack-tree {
  height: 70%;
}

.tree-view summary {
  display: inside;
  cursor: none;
}

.tree-view {
  height: 100%;
  overflow-y: auto;
}

#tree {
  height: 100%;
}

.cat {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  margin: 20px;
}

#back {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  margin: 20px;
  font-family: "Press Start 2P", cursive;

}

