html,
body,
div.root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#entry-window {
  font-family: "Press Start 2P", cursive;
  text-align: center;
  background-color: black;
  margin: 1px;
  height: 100%;
}

#entry-window p {
  font-size: 10px;
}

p {
  font-size: medium;
}



.App {
  width: 100vw;
  height: 100vh;
  background-color: #008080;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

#app-window {
  width: 90%;
  height: 335px;
  /* position: absolute;
  top: 10px; */
  margin-left: 5%;
  margin-right: 5%;
}

#hello {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

#hello button {
  margin: 5px;
}
/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.signup-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.signup-window form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sign-up {
  height: 28px;
  line-height: 28px; font-size: 17px;
  margin: 1px;
  padding: 10px;
}

.signup-window button {
  height: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
  vertical-align: bottom;
}

#player-container {
  width: 90%;
  height: 20%;
  /* position: absolute;
  bottom: 15px;
  left: 0; */
  margin-left: 5%;
  margin-right: 5%;
}

#player-container button:focus {
  --button-highlight: #ffffff;
  --button-face: #dfdfdf;
  --button-shadow: #808080;
  outline: 1px dotted #000000;
  outline-offset: -4px;
}

.hide {
  display: none;
}

#room-window {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  background-color: black;
  margin: 1px;
}

#room-window p {
  font-size: 12px;
}


#routes-container {
  height: 298px;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#new-item-alert {
  position: absolute;
  top: 50px;
  left: 50px;
  right: 50px;
  background-color: white;
  color: black;
}

#backpack-container {
  width: 90%;
  height: 20%;
  /* position: absolute;
  bottom: 170px;
  left: 0; */
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
}

#backpack-window {
  height: 100%;
}

#backpack-tree {
  height: 70%;

}


.tree-view summary {
  display: inside;
  cursor: none;
}

.tree-view {
  height: 100%;
  overflow-y: auto;
}

#tree {
  height: 100%;

}
